<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.warsa.MapChatGo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.LoginActivity" android:label="@string/login_title">
            <intent-filter>
            </intent-filter>
        </activity>
        <activity android:name=".activities.RegisterActivity" android:label="@string/register_title">
            <intent-filter> <!-- filter for a certain activity -->
                <action android:name="android.intent.action.MAIN" /> <!-- set as main activity at startup -->
                <category android:name="android.intent.category.LAUNCHER" /> <!-- launch activity -->
            </intent-filter>
        </activity>
        <activity android:name=".activities.Profile" android:label="@string/profile_title">
            <intent-filter>
            </intent-filter>
        </activity>
    </application>
</manifest>