<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.warsa.MapChatGo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.warsa.MapChatGo.activities.MainActivity"/>
        <activity android:name="com.example.warsa.MapChatGo.activities.LoginActivity" />
        <activity android:name="com.example.warsa.MapChatGo.activities.RegisterActivity">
            <intent-filter>  <!-- filter for a certain activity -->
                <action android:name="android.intent.action.MAIN" /> <!-- set as main activity at startup -->
                <category android:name="android.intent.category.LAUNCHER" /> <!-- launch activity -->
            </intent-filter>
        </activity>
    </application>

</manifest>